.calculadora {
    background: rgb(87, 85, 85);
    color: black;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.calculadora input {
background:rgb(196, 129, 235);
color: black;
border-radius: 9px;
padding: 5px;
}
#sptotal {
    background: rgb(162, 51, 253);
    color: black;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 10px;
    
}
.calculadora button {
margin-top: 10px;
background: rgb(211, 81, 243);
color: black;
padding: 3px 13px;

}
.calculadora button:hover {
    background: white;
    color: black;
    cursor: pointer;
}
#splistameses {
    text-align: start;
    border-style:groove;
    border-color: black;
    border-width: 2px;
    color: rgb(0, 0, 0);
    background: rgb(149, 117, 238);
    margin-top: 13px;
}
#splistameses{
   background: rgb(163, 96, 226);
   color: rgb(18, 18, 19);
   text-align: start;
   margin-top: 10px;
   border-radius: rebeccapurple;

   border-color: rgb(0, 0, 0);
   border-width: 2px;
   border-style: dashed;
}
