.calculadora {
    background: rgb(241, 156, 156);
    color: black;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.calculadora input {
background:rgb(153, 172, 201);
color: black;
border-radius: 9px;
padding: 5px;
}
.calculadora input :focus{
    background: white;
    color: black;
}

#sptotal {
    background: rgb(104, 103, 177);
    color: black;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 10px;
    
}
.calculadora button {
margin-top: 10px;
background: rgb(101, 161, 158);
color: black;
padding: 3px 13px;

}
.calculadora button:hover {
    background: white;
    color: black;
    cursor: pointer;
}
#splistameses {
    text-align: start;
    border-style:groove;
    border-color: rgb(158, 38, 132);
    border-width: 2px;
    color: rgb(0, 0, 0);
    background: rgb(135, 117, 238);
    margin-top: 13px;
}

