.calculadora {
    background-color: rgb(156, 135, 175);
  width: 200px
   padding : 10px
   border-radius: 10px
 text-align: center

} 
.calculadoea input{
     background-color: cyan;
 color:darkcyan
 border-radius: 8px;
padding: 8px;
}
#sptotal{
    background-color: darkcyan;
color: darkgray;
border-radius: 10px;
padding: 10px;
margin-bottom:10px;
}
